.navbar{
  width: 100%;
  background-color: #28a745;
  height: 77px;
  font-size: 35px;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

h2 {
  font-size: 30px;
  padding: 16px;
}

.cart {
  margin-top: -50px;
  margin-right: 40px;
  display: flex;
  float: right;
  width:100px;
  height: 30px;
  text-align: center;
  justify-content: right;
  align-items: center;
}






